<div class="col-md-12">
        <a class="btn-edit btn btn-success btn-sm">
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <a class="btn-delete btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
    <div class="contData">
        <button class="btnOptions btn btn-info btn-xs">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <div class="col-md-6">
            <p>First name:</p> 
            <span><%= first_name %></span>
        </div>
        <div class="col-md-6">
            <p>Last name:</p> 
            <span><%= last_name %></span>
        </div>
        <div class="col-md-6">
            <p>Cel phone:</p>
            <span><%= cel %></span>
        </div>
        <div class="col-md-6">
            <p>Emerrgency phone:</p>
            <span><%= phone_eme %></span>
        </div>
    </div>
</div>

