<article class="col-md-4"  id="{{contact._id}}" ng-repeat="contact in contacts | filter:search">
    <div class="col-md-12">
        <a ui-sref="edit({ id: contact._id })" class="btn-edit btn btn-success btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a ui-sref="delete({ id: contact._id })" class="btn-delete btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        <div class="contData">
            <button class="btnOptions btn btn-info btn-xs" sh-options ng-click="shOptions()">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <div class="col-md-6">
                <p>First name:</p>
                <span>{{contact.first_name}}</span>
            </div>
            <div class="col-md-6">
                <p>Last name:</p>
                <span>{{contact.last_name}}</span>
            </div>
            <div class="col-md-6">
                <p>Cel phone:</p>
                <span>{{contact.cel}}</span>
            </div>
            <div class="col-md-6">
                <p>Emerrgency phone:</p>
                <span>{{contact.phone_eme}}</span>
            </div>
        </div>
    </div>
</article>
