<div class="container">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">R3L Contacts</a>
    </div>

    <form id="searchContact" class="navbar-right col-md-5" role="search">
        <div class="form-group col-md-9">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-warning" type="button">Search</button>
                </span>
            </div>
        </div>

        <a id="btnAddContact" data-toggle="modal" href="#addContact" class="btn btn-info">Add Contact</a>
    </form>

</div>
